// -------------------------------------------------------- material system
materials {
	bulk {
		alias			= sGaInAs;
		mass			= 0.0427;
		epsilon-inf 	= 10.92;	// CHANGE
		epsilon-zero	= 12.68;	// CHANGE
		hLO				= 0.0361;	// CHANGE
		hTO				= 0.0335;	// CHANGE
		direct-gap		= 0.789625;
		lattice-const	= 5.68;
	}

	bulk {
		alias			= sAlInAs;
		mass			= 0.076;
		epsilon-inf 	= 8.16;		// CHANGE
		epsilon-zero	= 10.14;	// CHANGE
		hLO				= 0.0496;	// CHANGE
		hTO				= 0.0445;	// CHANGE
		direct-gap		= 1.40542;
		lattice-const	= 5.68;
	}
	
	interface {
		left-material  = sGaInAs;
		right-material = sAlInAs;
		discontinuity  = 0.52;
	}
	
	// Fake Interface
	interface {
		left-material  = GaAs;
		right-material = sAlInAs;
		discontinuity  = 0.0;
	}
	
	// Fake Interface
	interface {
		left-material  = AlAs;
		right-material = sAlInAs;
		discontinuity  = 0.0;
	}
	
	// Fake Interface
	interface {
		left-material  = InAs;
		right-material = sAlInAs;
		discontinuity  = 0.0;
	}
	
	bulk {
		alias			= InAs;
		mass			= 0.027;
		epsilon-inf		= 12.25;
		epsilon-zero	= 15.15;
		hLO				= 12.0;		// ???
		hTO				= 12.0;		// ???
		direct-gap		= 0.356;
		lattice-const	= 6.0583;
	}
	
	bulk {
		alias			= GaAs;
		mass			= 0.067;
		epsilon-inf 	= 10.92;
		epsilon-zero	= 12.68;
		hLO				= 0.0361;
		hTO				= 0.0335;
		direct-gap		= 1.16053;			//1.424;
		lattice-const	= 5.65;
	}
	
	bulk {
		alias			= AlAs;
		mass			= 0.15;
		epsilon-inf 	= 8.16;
		epsilon-zero	= 10.14;
		hLO				= 0.0496;
		hTO				= 0.0445;
		direct-gap		= 2.5982;			//2.595;
		lattice-const	= 5.66;
	}
	
	alloy {
		alias = GaInAs;
		zero-fraction = InAs;
		full-fraction = GaAs;
	}
	
	alloy {
		alias = AlInAs;
		zero-fraction = InAs;
		full-fraction = AlAs;
	}
	
	interface {
		left-material = GaAs;
		right-material = AlAs;
		discontinuity = 0.9;				// 0.65;
	}
	
	interface {
		left-material = InAs;
		right-material = AlAs;
		discontinuity = 1.4;
	}
	
	interface {
		left-material = InAs;
		right-material = GaAs;
		discontinuity = 0.6;
	}
}



// ----------------------------------------------------------------------------------------------------------------
// Definition of the MQW structure

// -------------------------------------------------------- buildpot numerical parameters
buildpot-params {
	bulk-step 		= 1;
	interface-step 		= 0.01;
	interface-diffusion 	= 0.0;	// DIFFUSION -- SEGREG
	mesh-style		= fixed-step;
	
	phony-left-barrier = NO;	// AUTO, USER, NO
	left-barrier {
		thickness = 350;
		material = AlGaAs;
		x=0.15;
		label = "left barrier";
		//mass=0.8;
		gap=0.1;
		//discont = 5.8;
	}
	
	phony-right-barrier = AUTO;		// AUTO, USER, NO
	right-barrier {
		thickness = 35;
		material = AlGaAs;
		x = 0.15;
		label = "right barrier";
	}
	
	has-box-wall = TRUE;			// has box wall -- NEED TO BE TRUE
	auto-box-wall = TRUE;			// auto discontinuity
	box-wall-layer {
		thickness = 2.0; 
		material = AlAs;
		label="Box Layer";
	}
}


// -------------------------------------------------------- eigen solver parameters
solver {
	emin			= 0.001;
	emax			= 1.6; // 0.13;
	up-to-bound-state	= 20;
	continuum-emin		= 0.001;
	continuum-emax		= 2.0;
	initial-samples 	= 1200;
	np			= TRUE;
	energy-precision 	= 1e-12;		/* for thick barriers, increase this one
								    to avoid divergences */
	max-divergence		= 1e-4;
	//letal-divergence	= TRUE;
	max-iterations		= 1000;
	boundify		= TRUE;
	adjust-box-wall		= TRUE;
	wf-resampling 		= TRUE;
	wf-step			= 1.0;	// 1.0
	up-to-continuum-state 	= 200;
}


// -------------------------------------------------------- absoption parameters
absorption {
	min-photon-energy = 1e-5;
	max-photon-energy = 500e-3;
	spectrum-sampling = 512;
	k-space-sampling = 64;
	number-of-kT-before-cut-off = 7;		// not too low
	use-non-parabolicity = TRUE;
	default-subband-broadening = 4.0e-3;	// 0.5*FWHM = upper-broadening + lower-broadening
	modal-index = 3.2;
	modal-overlap = 1.0;				// 0.35;
}

// -------------------------------------------------------- ifr parameters
ifr {
	angular-sampling = 32;
}

// -------------------------------------------------------- hlo parameters
hlo {
	level-of-details = 8;
	angular-sampling = 32;
	kp0 = 64;
	exp-cutoff = 1e-6;
}

// -------------------------------------------------------- ad parameters
alloy-disorder {
	angular-sampling = 32;  // not used
}

// -------------------------------------------------------- impurities parameters
impurities {
	angular-sampling = 32;
	formfactor-lod = 8;
	exp-cutoff = 1e-6;
	crop-profile = TRUE;
	zero-trigger = 0.0;
	wf-step = 3.0;
}

// -------------------------------------------------------- transport parameters
transport {
	taup-sorting = 0.08;
	tunneltime-max = 100;
	tunneltime-maxstates = 10;
	initial-temperature= 1500.0;
	k-space-sampling = 256;
	number-of-kT-before-cut-off = 7;
	hlo-energy = 34.0e-3;
	hlo-temperature = 300.0; //300.0;
	hlo-qscreen = 0.0;
	ifr-inplane-corr = 90;
	ifr-vertical-corr = 15.0; //8; //30.0; //15.0;
	ifr-height = 1.2;
	use-uniform-taup = FALSE;
	uniform-taup = 0.04;
	pop-tolerance = 1e-3; // 1% Of ns
	pop-max-iterations = 500;
	pop-stab-damping = 1e-3;
	electron-T-maxiter = 500;
	electron-T-tolerance = 0.5;	// in K
	solution-maxiter = 500;
	current-uniformity-limit = 1.0e-6;
	solution-uniformity-limit = 1.0e-2;
	imaginary-part-limit = 1.0e-10;
	
	/* Light Parameters */
	light-fixed-laser-energy = FALSE;
	light-use-bloch-gain = FALSE;
	light-laser-energy = 150.0e-3;
	light-gain-window-min-energy = 100.0e-3;
	light-gain-window-max-energy = 300.0e-3;
	light-gain-window-sampling   = 64;
	light-losses = 10.0; // n655: 3mm HR (2.3 + 2.2+.5)/0.68 env 7cm-1
	light-initial-photonflux = 2e22;
	light-bracketing-maxiter = 128;
	light-convergence-maxiter = 500;
	light-convergence-tolerance = 1e-1;	/* in cm-1 */
	light-damping-factor = 0.3;
	light-photonflux-precision = 0.05;
}


// -------------------------------------------------------- self solver parameters
selfsolver {
	max-iterations = 500;
	damping-factor = 1e-3;
	energy-precision = 1.5e-4;
	period-wraping = 2;
	output-history-file = FALSE;
	convergence-crop = 7;
}

thermal-model {
	initial-fermi-min     = -1e-3;
	initial-fermi-max    = 1e-3;
	fermi-bracketing-max-iterations = 100;
	fermi-brent-max-iterations = 100;
	fermi-tolerance = 1e-8;
}

// -------------------------------------------------------- show options
show-options {
	underline-eigenstates = TRUE;
}

